/* Regular font */
@font-face {
  font-family: 'Poppins-Bold';
  src: url('./assets/fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/* Bold font */
@font-face {
  font-family: 'Poppins-BoldItalic';
  src: url('./assets/fonts/Poppins-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

/* Italic font */
@font-face {
  font-family: 'Poppins-ExtraBold';
  src: url('./assets/fonts/Poppins-ExtraBold.ttf') format('truetype');
  font-weight: bolder;
  font-style: normal;
}

/* Bold Italic font */
@font-face {
  font-family: 'Poppins-ExtraBoldItalic';
  src: url('./assets/fonts/Poppins-ExtraBoldItalic.ttf') format('truetype');
  font-weight: bolder;
  font-style: italic;
}
@font-face {
  font-family: 'Poppins-Italic';
  src: url('./assets/fonts/Poppins-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: hsl(0, 0%, 86%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 450px;
  background-color: white;
  padding: 20px;
  position: relative;
  border-radius: 20px 20px 150px 20px;
}

.inputbox {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.input1 {
  padding: 15px;
}

label {
  font-weight: bold;
  opacity: 0.6;
  font-size: 11px;
  letter-spacing: 2px;
}

input {
  width: 80px;
  height: 25px;
  padding: 12px;
  margin-top: 5px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  opacity: 1;
  text-align: justify;
  font-size: 22px;
  font-weight: 900;  
  font-family: 'Poppins-ExtraBold',sans-serif;
  
}

.input1 input::placeholder {
  opacity: 0.9;
  padding: 12px;
  transform: scaleX(1.1);
  margin-left: 25px;
  font-size: 21px;
  font-weight: 750;
  margin-left: 3px;
  border:1px ;
  font-family: 'Poppins-ExtraBold',sans-serif;
}

.arrow-and-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: -15px;
}

.arrow {
  border: none;
  height: 0.5px;
  background-color: #333;
  margin-left: 20px;
  width: 90%; /* Adjust width as needed */
  opacity: 0.3;
}

.submit-button {
  width: 20%; /* Adjust width as needed */
}

.submit-button button {
  width: 70px;
  height: 70px;
  cursor: pointer;
  padding: 0;
  border-radius: 35px;
  border: none;
  background-color: hsl(259, 100%, 65%);
}

.submit-button img {
  width: 50%;
  height: auto;
}
.content {
  display: flex;
  flex-direction: column;
  margin-top: -20px;
}

.date {
  display: flex;
  flex-direction: row;
   text-align: center;
   padding: 0px;
  margin: 0px; /* Add margin around each date block */
  margin-left: 40px;
}

.dash {
  letter-spacing: 6px;
  color: hsl(259, 100%, 65%);
  font-family: 'Poppins-ExtraBoldItalic', sans-serif;
}


.date p {
  font-size: 66px;;
  font-style: italic;
  font-weight: bold;
  margin: 0px; /* Remove default margin */
  margin-left: 20px;
  font-family: 'Poppins-ExtraBoldItalic', sans-serif;
}
.error{
  color:rgb(240, 53, 24);
  font-size:x-small;
  font-style: italic;
  margin-left: 3px;
}
.errormsg{
  color:rgb(240, 53, 24);
}
.input1 .error-border {
  border: 1px solid rgb(240, 53, 24) !important;
  border-color: rgb(240, 53, 24) !important;
}